<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Home page</title>
  <link rel="shortcut icon" type="image/x-icon" href="@{/favicon.ico}">
  <!-- <link href="@{/styles/cssandjs/main.css}" rel="stylesheet" /> -->
</head>

<body>
  <div>
    <h1>Home page (страница проекта)</h1>
    <th:block th:each="msg : ${messages}">
      <h3 th:text="${msg}"></h3>
    </th:block>

    <ul>
      <li><a th:href="@{/cars/add}">Добавить еще 5 авто в БД</a></li>
      <li><a th:href="@{/cars/delete}">Удалить все авто</a></li>
    </ul>

  </div>
  <a th:href="@{/}">На главную</a>
</body>

</html>
